body {
  margin: 0;
  background: #44A08D;
  background: -webkit-gradient(linear, left top, left bottom, from(#44A08D), to(#093637));
  background: linear-gradient(to bottom, #44A08D, #093637);
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail {
  background: #fff;
  width: 460px;
}

.detail .mdl-textfield {
  width: 100%;
}

.detail img.full {
  max-width: 100%;
}

.detail .file_input_div {
  margin: 20px auto;
  width: 250px;
  height: 40px;
}

.detail .file_input_div .file_input {
  float: left;
}

.detail .file_input_div #file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 10px;
}

.detail .file_input_div .none {
  display: none;
}

.detail-body {
  padding: 10px 20px;
}

.detail-footer {
  background: rgba(0, 0, 0, 0.02);
  padding: 10px 20px;
}

.detail-footer .mdl-button.pull-right {
  float: right;
  margin-left: 5px;
}

.list {
  margin: 20px 40px;
  min-width: 460px;
  min-height: 400px;
  position: relative;
  padding-bottom: 52px;
  background: #fff;
}

.list-header {
  position: relative;
  background-image: url(/img/triangle-back.png);
  background-size: cover;
}

.list-header h2 {
  margin: 0;
  line-height: 66px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.2);
}

.list-search {
  position: absolute;
  right: 24px;
  top: 0;
}

.list-pagination {
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.02);
}

.list-pagination span {
  margin: 0 10px;
}

.list-table {
  width: 100%;
}

.list img.preview {
  width: 100px;
}

