<form name="myForm">
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" name="title" ng-model="item.title" required>
            <label class="mdl-textfield__label" for="name">Название</label>
            <span class="mdl-textfield__error" ng-show="myForm.title.$error.required && !myForm.title.$pristine">Обязательно</span>
        </div>
    </div>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="3" id="description" name="description" ng-model="item.description"></textarea>
            <label class="mdl-textfield__label" for="description">Описание</label>
        </div>
    </div>

    <div>
        <a class="mdl-button mdl-js-button mdl-button--accent" href="#/">Отмена</a>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                ng-click="save()" ng-disabled="myForm.$invalid">
            Сохранить
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                ng-click="delete()" ng-show="item.id">
            Удалить
        </button>
    </div>
</form>
