// MDL
@import "node_modules/material-design-lite/src/material-design-lite.scss";

// Fonts
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Variables
//@import "variables";

body {
  margin: 0;
  background: #44A08D;
  background: -webkit-linear-gradient(to bottom, #44A08D, #093637);
  background: linear-gradient(to bottom, #44A08D, #093637);
}

.wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  background: #fff;
  padding: 10px 20px;
}