// MDL
@import "node_modules/material-design-lite/src/material-design-lite.scss";
//@import "node_modules/material-design-lite/dist/material.blue_grey-red.min.css";

// Fonts
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Variables
//@import "variables";

body {
  margin: 0;
  background: #44A08D;
  background: -webkit-linear-gradient(to bottom, #44A08D, #093637);
  background: linear-gradient(to bottom, #44A08D, #093637);
}

.wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail{
  background: #fff;
  padding: 10px 20px;
}

.list{
  margin: 20px 40px;
  min-width: 460px;
  min-height: 400px;
  position: relative;
  padding-bottom: 52px;
  background: #fff;

  &-header{
    position: relative;
    background-image: url(/img/triangle-back.png);
    background-size: cover;

    h2{
      margin: 0;
      line-height: 66px;
      padding: 0 24px;
      color: rgba(0,0,0,.54);
      background: rgba(0,0,0,.2);
    }
  }
  &-search{
    position: absolute;
    right: 24px;
    top: 0;
  }

  &-pagination{
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.02);

    span{
      margin: 0 10px;
    }
  }

  table{
    width: 100%
  }
}


